<div class="row">
    <h3>EDUCACIÓN</h3>
    <div class="col-lg-12">
        <ul>
            <li>
                <h4>Educación 1</h4> -<h5>(years)</h5></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor deserunt accusantium aliquam, distinctio numquam dignissimos tempore mollitia beatae expedita neque laborum modi odit ipsam! Ea repellendus a reiciendis reprehenderit?</p>
        </ul>
        <ul>
            <li>
                <h4>Educacióm 2</h4> -<h5>(years)</h5></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor deserunt accusantium aliquam, distinctio numquam dignissimos tempore mollitia beatae expedita neque laborum modi odit ipsam! Ea repellendus a reiciendis reprehenderit?</p>
        </ul>  
        <ul>
            <li>
                <h4>Educación 3</h4> -<h5>(years)</h5></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor deserunt accusantium aliquam, distinctio numquam dignissimos tempore mollitia beatae expedita neque laborum modi odit ipsam! Ea repellendus a reiciendis reprehenderit?</p>
        </ul>
        <ul>
            <li>
                <h4>Educación 4</h4> -<h5>(years)</h5></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor deserunt accusantium aliquam, distinctio numquam dignissimos tempore mollitia beatae expedita neque laborum modi odit ipsam! Ea repellendus a reiciendis reprehenderit?</p>
        </ul>    
    </div>
    </div>
    
