<div class="row">
<h3>PROYECTOS REALIZADOS</h3>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 texto">
            <h4> Argentina Programa</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi aspernatur facere possimus mollitia repellat quod error. Quia rerum dolorum vero nihil, repellat earum molestiae consequuntur? Sed voluptatem veritatis commodi ipsum.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3  offset-md-1 offset-lg-1 imagen">
            <img src="../../../assets/construc.png" class="img-fluid img-proyecto">
        </div>
    

    </div>

</div>

