.row{
    padding: 20px;
    background-color:#f3aee7;
}
.contenedor{
    width: auto;
}
.texto, .imagen{
    display: inline-block;
    text-align: justify;
 }
 .img-proyecto{
    box-shadow: 10px 10px 30px #000000;
    box-shadow: ejeX ejeY difumasion color;
 }
