<div class="row">
    <h3>HARD & SOFT SKILLS</h3>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
        <circle-progress
            [percent]="85"
            [radius]="80"
            [showUnits]="false"
            [title]="'HTML'"
            [titleColor]="'blue'"
            [titleFontSize]="'1.5em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#32174d '"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class=" text center col-sm-2 col-md-2 col-lg-2">
      <circle-progress
          [percent]="85"
          [radius]="80"
          [showUnits]="false"
          [title]="'HTML'"
          [titleColor]="'blue'"
          [titleFontSize]="'1.5em'"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#32174d '"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
      ></circle-progress>
  </div>
  <div class=" text center col-sm-2 col-md-2 col-lg-2">
    <circle-progress
        [percent]="85"
        [radius]="80"
        [showUnits]="false"
        [title]="'HTML'"
        [titleColor]="'blue'"
        [titleFontSize]="'1.5em'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#32174d '"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
</div>
<div class=" text center col-sm-2 col-md-2 col-lg-2">
  <circle-progress
      [percent]="85"
      [radius]="80"
      [showUnits]="false"
      [title]="'HTML'"
      [titleColor]="'blue'"
      [titleFontSize]="'1.5em'"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#32174d '"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
  ></circle-progress>
</div>
</div>