.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    margin-right: 3em;
    
}
.redes img{
    margin: 0.3em;
}
#logoap{
    width: 200px;
    margin-left: 2em;
    
}
img{
    width: 50px;
}
.btn{
    border-width: medium;
    margin-left: 0.7em;
}

/*---Celulares---*/
@media (max-width: 575px){
    .container{
        flex-direction: column;
    }
.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
.redes img{
    margin: 0.5em; 
}

}